.project
.settings/org.eclipse.m2e.core.prefs
easycalendar-ear/.settings/org.eclipse.jdt.core.prefs
easycalendar-ear/.settings/org.eclipse.m2e.core.prefs
easycalendar-ear/.settings/org.eclipse.wst.common.project.facet.core.xml
easycalendar-ear/.settings/org.eclipse.wst.validation.prefs
easycalendar-ejb/.settings/org.eclipse.core.resources.prefs
easycalendar-ejb/.settings/org.eclipse.jdt.core.prefs
easycalendar-ejb/.settings/org.eclipse.wst.common.project.facet.core.xml
easycalendar-web/.classpath
easycalendar-web/.settings/org.eclipse.core.resources.prefs
easycalendar-web/.settings/.jsdtscope
easycalendar-web/.settings/org.eclipse.wst.validation.prefs
easycalendar-web/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
easycalendar-web/.settings/org.eclipse.jdt.core.prefs
easycalendar-web/.settings/org.eclipse.m2e.core.prefs
easycalendar-web/.settings/org.eclipse.wst.common.project.facet.core.xml
easycalendar-web/.settings/org.eclipse.wst.jsdt.ui.superType.name
easycalendar-ejb/.settings/org.eclipse.wst.validation.prefs
easycalendar-ejb/.classpath
easycalendar-ejb/.settings/org.eclipse.wst.common.component
easycalendar-web/.settings/org.eclipse.wst.common.component
easycalendar-ejb/.settings/org.eclipse.m2e.core.prefs
easycalendar-ear/.settings/org.eclipse.wst.common.component
easycalendar-web/.settings/org.eclipse.wst.jsdt.ui.superType.container